#title{
    text-align: center;
    color: green;
}
h2{
    text-align: center;
    font-size: bold;
}
h3{
    text-align: center;
    font-size: bold;
}
p{
    text-align: center;
}
div{
    text-align: center;
}